.home-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
  }
  
  .home-content {
    z-index: 1;
  }
  
  .home-buttons {
    margin-top: 20px;
  }
  
  .home-button {
    padding: 15px 30px;
    margin: 10px;
    text-decoration: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid #fff;
    transition: 0.3s;
  }
  
  .home-button:hover {
    background-color: #fff;
    color: #000;
  }
  